*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.corpo-telefone{
    margin-top: 3%;
    background-color: black;
    width: 25%;
    height: 80vh;
    border-radius: 15px 15px 15px 15px ;

}
.display-telefone{
    width: 100%;
    height: 95%;
    background-color:rgb(248, 194, 253);

    border-radius: 15px 15px 0 0px;
}
.display-telefone>#date-time{
    width: 100%;
    height: 3%;
    background-color: rgb(134, 134, 134);
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 15px 15px 0px 0px
}

.display-telefone>#date-time>p{
    padding-left: 5%;
    margin-right: 1%;
}

#pesquisa-google{
    background-color: rgb(238, 183, 245);
    width: 100%;
    height: 10vh;
}

#workspace{
    background-color: rgb(248, 194, 253);
    width: 100%;
    height: 95%;
}
#aplicativos-workspace{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 40%;
}
#aplicativos-workspace>figure{
    display: flex;
    justify-content: space-evenly;
    /*background-color: blanchedalmond;*/
    width: 100%;
    height: 30vh;
}
#aplicativos-workspace>figure>img{
    width: 70%;
    height: 20%;
    cursor: pointer;
}

#workspace-apps{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto; /*39%*/
   /* background-color: red; yoo*/
}
#workspace-apps>figure{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 194, 253);
    width: 100%;
    height: 120%;
    align-items: end;
}
#workspace-apps>figure>img{
    width: 70%;
    height: 20%;
    cursor: pointer;

}



#nav-telefone{
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-evenly;
    height: 5%;
    width: 100%;
    background-color: rgb(221, 174, 228);
}

#nav-one,#nav-two,#nav-three{
    display: flex;
    justify-content: center; 

}
.imgNav{
    height: 50%;
    width: 100%;
    backdrop-filter: blur;
    padding-top: 50%;
}

.txt-navbar-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 70%;
    width: 100%;
}

#txt-navbar-info-hora{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 70%;
    font-size: 12px;
}

#txt-navbar-info-date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 650%;
    height: 70%;
    font-size: 12px;
}


#macarrao{
    display: none;
    
}
#macarrao.active {
    height: 75px;
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}